{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details-inner">
                    <div class="blog-detail-title">
                        <h2>{{ post.title }}</h2>
                        <!-- Category and Published Date -->
                        <p><a href="#" style="color:#ffc107;">{{ post.category.all|join:', ' }} </a> <span>{{ post.published_date|date:'d M Y' }}</span></p>
                        <!-- New Info: Author, View Count, Published Date -->
                        <div class="blog-meta">
                            <span><i class="fa fa-user"></i> Author:
                                <a href="{% url 'blog:author' author_username=post.author.username %}" style="color:#555;">{{ post.author.get_full_name }}</a></span>
                            <span><i class="fa fa-eye"></i> Views: {{ post.counted_view }}</span>
                        </div>
                    </div>

                    <div class="blog-large-pic">
                        <img src="{{ post.image.url }}" alt="" style="height: 510px; width: 272;">
                    </div>
                    <div class="blog-detail-desc">
                        <p>{{ post.content }}
                        </p>
                    </div>

                    <p>Sum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
                    <div class="tag-share">
                        <div class="details-tag">
                            <ul>
                                <li><i class="fa fa-tags"></i></li>
                                {% for tag in post.tag.all %}
                                <a href="{% url 'blog:tag' tag_name=tag.name %}"><li>{{ tag.name }}</li></a>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="blog-share">
                            <span>Share:</span>
                            <div class="social-links">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post">
                        <div class="row">
                            {% if prev_post and next_post %}
                            <div class="col-lg-5 col-md-6">
                                <a href="{% url 'blog:blog-details' pid=prev_post.id %}"
                                    class="prev-blog d-flex align-items-center">
                                    <div class="pb-pic me-3">
                                        <i class="ti-arrow-left"></i>
                                        <img src="{{ prev_post.image.url }}" alt="">
                                    </div>
                                    <div class="pb-text">
                                        <span>Previous Post:</span>
                                        <h5>{{ prev_post.title }}</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-5 offset-lg-2 col-md-6">
                                <a href="{% url 'blog:blog-details' pid=next_post.id %}"
                                    class="next-blog d-flex align-items-center justify-content-end">
                                    <div class="nb-text text-end me-3">
                                        <span>Next Post:</span>
                                        <h5>{{ next_post.title }}</h5>
                                    </div>
                                    <div class="nb-pic">
                                        <img src="{{ next_post.image.url }}" alt="">
                                        <i class="ti-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                            {% elif prev_post %}
                            <div class="col-lg-12 col-md-12">
                                <a href="{% url 'blog:blog-details' pid=prev_post.id %}"
                                    class="prev-blog d-flex align-items-center justify-content-center">
                                    <div class="pb-pic me-3">
                                        <i class="ti-arrow-left"></i>
                                        <img src="{{ prev_post.image.url }}" alt="">
                                    </div>
                                    <div class="pb-text">
                                        <span>Previous Post:</span>
                                        <h5>{{ prev_post.title }}</h5>
                                    </div>
                                </a>
                            </div>
                            {% elif next_post %}
                            <div class="col-lg-12 col-md-12">
                                <a href="{% url 'blog:blog-details' pid=next_post.id %}"
                                    class="next-blog d-flex align-items-center justify-content-center">
                                    <div class="nb-text me-3 text-center">
                                        <span>Next Post:</span>
                                        <h5>{{ next_post.title }}</h5>
                                    </div>
                                    <div class="nb-pic">
                                        <img src="{{ next_post.image.url }}" alt="" >
                                        <i class="ti-arrow-right"></i>
                                    </div>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if not commnets %}
                        <p>There is no commnet, be the frist one</p>
                    {% endif %}
                    {% for comment in comments %}
                    <div class="posted-by">
                        <div class="pb-pic">
                            <img src="{% static 'img/blog/comment.png' %}" alt="" style="height: 91px; width: 89px;">
                        </div>
                        
                        <div class="pb-text">
                            <a href="#">
                                <h5>{{ comment.name }}</h5>
                            </a>
                            <p>{{ comment.message }}</p>
                        </div>
                        
                    </div>
                    {% endfor %}
                    <div class="leave-comment">
                        <h4>Leave A Comment</h4>
                        <form action="{% url 'blog:blog-details' pid=post.id %}" class="comment-form" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post" value="{{ post.id }}">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Name" name="name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Email" name="email">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Messages" name="message"></textarea>
                                    <button type="submit" class="site-btn">Send message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="{% static 'img/logo-carousel/logo-1.png' %}" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="{% static 'img/logo-carousel/logo-2.png' %}" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="{% static 'img/logo-carousel/logo-3.png' %}" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="{% static 'img/logo-carousel/logo-4.png' %}" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="{% static 'img/logo-carousel/logo-5.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Logo Section End -->
{% endblock %}